/**************************************************
 * HEADER
 **************************************************/

#headernavbar{
	background-color:rgb(70, 70, 70);
	color: white;
	padding: 10px;
}

#slogan{
	font-style: italic;
	padding-top: 0;
	padding-bottom: 0;
	height: 50px;
	line-height: 50px;
}

.nav-link{
	color: white;
	padding-top: 0;
	padding-bottom: 0;
	height: 50px;
	line-height: 50px;
}

.vl {
	margin-left: 20px;
	border-left: 2px solid gray;
	height: 50px;
}

/**************************************************
 * BODY
 **************************************************/

div.translayer {
	background-color: #ffffff;
	opacity: 0.6;
}

div.translayer p {
	margin: 5%;
	font-weight: bold;
	color: #000000;
	opacity: 1.0;
}

.fineprint{
	 font-size: small;
	 text-align: right;
}